<div class="container">
  <div class="row">
    <div class="col">
      <h1>All Articles</h1>
      <div class="text-right">
        <%= link_to "New Post", new_post_path, class:"btn btn-success" %>
      </div>
      <br>
      <% @posts.each do |post| %>
        <div class="card">
          <div class="card-body">
            <h5 class="card_title"><%= post.title %></h5>
            <p class="card-text"><%= post.text %></p>
            <%= link_to "show", post_path(post), class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>