<br>
<br>
<footer class="page-footer font-small pt-4" style="background-color: #eae6e4;">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">ONIKI inc.</h5>
        <p>vamos!!vamos!!vamos!!vamos!!<br>
        vamos!!vamos!!vamos!!vamos!!</p>
      </div>

      <hr class="clearfix w-100 d-md-none pb-3">


      <div class="col-md-3 mb-md-0 mb-3">

      </div>

      <div class="col-md-3 mb-md-0 mb-3">

      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <%= link_to 'Rails Articles', root_path %>
  </div>
</footer>